{
    "assetDirectories": [
        "..\\assets\\",
        "..\\mods\\",
        "..\\workshop\\content\\211820\\740694177\\",
        "..\\steamapps\\workshop\\content\\211820\\729558042\\",
        "..\\steamapps\\workshop\\content\\211820\\732452461\\",
        "..\\steamapps\\workshop\\content\\211820\\774083065\\",
        "..\\steamapps\\workshop\\content\\211820\\850109963\\",
        "..\\steamapps\\workshop\\content\\211820\\729597107\\",
        "..\\steamapps\\workshop\\content\\211820\\729429063\\",
        "..\\steamapps\\workshop\\content\\211820\\779096734\\",
        "..\\steamapps\\workshop\\content\\211820\\730529826\\",
        "..\\steamapps\\workshop\\content\\211820\\739436205\\",
        "..\\steamapps\\workshop\\content\\211820\\729622432\\",
        "..\\steamapps\\workshop\\content\\211820\\739676461\\",
        "..\\steamapps\\workshop\\content\\211820\\741550312\\",
        "..\\steamapps\\workshop\\content\\211820\\729432341\\",
        "..\\steamapps\\workshop\\content\\211820\\732276079\\",
        "..\\steamapps\\workshop\\content\\211820\\731106237\\"
    ],
    "storageDirectory": "..\\storage\\"
}
