{
    "allowAdminCommands": true,
    "allowAdminCommandsFromAnyone": false,
    "allowAnonymousConnections": false,
    "allowAssetsMismatch": true,
    "anonymousConnectionsAreAdmin": false,
    "assetDirectories" : [
        "..\\assets\\",
        "..\\mods\\",
        "..\\..\\..\\workshop\\content\\211820\\740694177\\",
        "..\\..\\..\\workshop\\content\\211820\\729558042\\",
        "..\\..\\..\\workshop\\content\\211820\\732452461\\",
        "..\\..\\..\\workshop\\content\\211820\\774083065\\",
        "..\\..\\..\\workshop\\content\\211820\\850109963\\",
        "..\\..\\..\\workshop\\content\\211820\\729597107\\",
        "..\\..\\..\\workshop\\content\\211820\\729429063\\",
        "..\\..\\..\\workshop\\content\\211820\\779096734\\",
        "..\\..\\..\\workshop\\content\\211820\\730529826\\",
        "..\\..\\..\\workshop\\content\\211820\\739436205\\",
        "..\\..\\..\\workshop\\content\\211820\\729622432\\",
        "..\\..\\..\\workshop\\content\\211820\\739676461\\",
        "..\\..\\..\\workshop\\content\\211820\\741550312\\",
        "..\\..\\..\\workshop\\content\\211820\\729432341\\",
        "..\\..\\..\\workshop\\content\\211820\\732276079\\",
        "..\\..\\..\\workshop\\content\\211820\\731106237\\"
    ],
    "bannedIPs": [],
    "bannedUuids": [],
    "checkAssetsDigest": false,
    "clearPlayerFiles": false,
    "clearUniverseFiles": false,
    "clientIPJoinable": false,
    "clientP2PJoinable": true,
    "configurationVersion": {
        "basic": 2,
        "server": 4
    },
    "crafting": {
        "filterHaveMaterials": false
    },
    "gameServerBind": "::",
    "gameServerPort": 21025,
    "interactiveHighlight": true,
    "inventory": {
        "pickupToActionBar": true
    },
    "maxPlayers": 8,
    "maxTeamSize": 4,
    "monochromeLighting": false,
    "playerBackupFileCount": 3,
    "queryServerBind": "::",
    "queryServerPort": 21025,
    "rconServerBind": "::",
    "rconServerPassword": "",
    "rconServerPort": 21026,
    "rconServerTimeout": 1000,
    "runQueryServer": false,
    "runRconServer": false,
    "safeScripts": true,
    "scriptInstructionLimit": 10000000,
    "scriptInstructionMeasureInterval": 10000,
    "scriptProfilingEnabled": false,
    "scriptRecursionLimit": 100,
    "serverFidelity": "automatic",
    "serverName": "The Super Ultra Starbound Server",
    "serverOverrideAssetsDigest": null,
    "serverUsers": {
        "admin": {
            "admin": true,
            "password": "admin"
        },
        "guest": {
            "admin": false,
            "password": "guest"
        }
    },
    "storageDirectory" : "..\\storage\\",
    "tutorialMessages": true
}
